
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">List of Projects <a class="col-md-offset-10" ng-href="#/projects/new" >New project</a> </div>
                <div class="panel-body">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <td>id</td>
                            <td>Owner (Dono)</td>
                            <td>Client</td>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Progress</td>
                            <td>Status</td>
                            <td>Due date (Vencimento)</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="p in project | itemsPerPage: projectPerPage" total-items="totalProject" current-page="pagination.current">
                            <td>{{p.project_id}}</td>
                            <td>{{p.owner_id}}</td>
                            <!-- Buscando o cliente que junto com os projetos -->
                            <td>{{p.client.name}}</td>
                            <td>{{p.name}}</td>
                            <td>{{p.description | limitTo:70}}...</td>
                            <td>{{p.progress}}</td>
                            <td>{{p.status}}</td>
                            <td>{{p.due_date | dateBr }}</td>
                            <td>
                                <a ng-href="#/project/{{p.project_id}}/notes" >Notes</a> /
                                <a ng-href="#/projects/{{p.project_id}}" >Open</a>


                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>