
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Project</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>

                        <tr>
                            <td>ID Project</td>
                            <td>ID Client</td>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Progress</td>
                            <td>Status</td>
                            <td>Due Date</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td>{{project.id}}</td>
                            <td>{{project.client_id}}</td>
                            <td>{{project.name}}</td>
                            <td>{{project.description}}</td>
                            <td>{{project.progress}}</td>
                            <td>{{project.status}}</td>
                            <td>{{project.due_date}}</td>

                            <td>
                                <a ng-href="#/projects/{{project.id}}/edit" >Edit</a> /
                                <a ng-href="#/projects/{{project.id}}/remove" >Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>